body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #32322C;
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
	
}
#window {
	background-color: #FBFBFB;
}
#logo {
	width: 1400px;
	height: 200px;
	background-color: #13C4A3;
}
#nav {
	overflow: hidden;
	border-width: 1px;
	border-color: #000000;
	text-align: right;
	padding-top: 10px;
	padding-right: 5px;
	border-right-style: solid;
	border-left-style: solid;
	float: inherit;
}
#main {
	overflow: hidden;
	border-width: 1px;
	border-color: #000000;
	padding: 5px;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
}
h2 {
	color:#36F1CD;
}
h3 {
	color:#13C4A3;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
